{% extends "layout.html" %}
{% block head %}
<title>...</title>

<style type="text/css">
  * {
    font-family: Century Gothic;
    background-color: blue;
  }

  .change {
    color: #ffcc00;
  }

  .aa:hover {
    border-bottom: solid #ffcc00;
    color: #fff;
  }

  .input {
    padding-right: 0;
    padding-left: 0;
  }
  .logincss{
  margin-top: 2px;
  margin-bottom: 6px;
  }
  ul {
    list-style-type: none;
}
</style>
{% endblock %}
{% block content %}
{% if form.errors %}
    {{ form.errors }}
{% endif %}
<!------main container start here---->
<div class="container-fluid h-100 logincss"  >

    <div class="row  h-100 justify-content-center align-items-center">
       <div class="col-sm">
        <h3 class="text-center change">welcome</h3>
        <h2 class="text-center">Automated Pre-Selected Process for Placement by  Personality Prediction and CV analysis.</h2>
            </div>
         <!------left end---->
    <div class="col-sm">
      <nav class="navbar navbar-expand-sm text-center">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item register_li">
            <a class="nav-link change aa" href="{{url_for('register')}}">Register</a>
          </li>
          <li class="nav-item login_li">
            <a class="nav-link change aa" href="{{url_for('login')}}">Login</a>
          </li>
        </ul>
      </nav>



    <!------register end---->

    <!------right end---->

    <!------right login start here---->
    <div class="container  text-center align-self-center h-100">
      <h2 class="text-center" style="color: #fff">Login</h2>
      <form  action="
      " method="POST">
   
          <fieldset class="form-group">
        <div class="form-group align-self-center justify-content-center">
    
          <div class="form-group">
            {{ form.email_login.label(class="form-control-label") }}

            {% if form.email_login.errors %}
                {{ form.email_login(class="form-control form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email_login(class="form-control form-control") }}
            {% endif %}
              </div>
        </div>

        <div class="form-group">
          {{ form.password_login.label(class="form-control-label") }}
          {% if form.password_login.errors %}
          <div class="wrapper mx-auto" style="position: relative">
              {{ form.password_login(class="form-control form-control-sm is-invalid") }}
              <i class="fa fa-eye-slash icon pass" id="eye1" aria-hidden="true" onclick="toggle1()" style="
              background-color: yellow;
              position: absolute;
              right: 10px;
              top: 10px;
              cursor: pointer;
            "></i></div>
              <div class="invalid-feedback">
                  {% for error in form.password_login.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
          <div class="wrapper mx-auto" style="position: relative">
              {{ form.password_login(class="form-control form-control"
              ) }}
              <i class="fa fa-eye-slash icon pass" id="eye1" aria-hidden="true" onclick="toggle1()" style="
              background-color: white;
              position: absolute;
              right: 10px;
              top: 10px;
              cursor: pointer;
            "></i></div>
          {% endif %}
      </div>
      <div class="form-group">
        {% for subfield in form.option1 %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
      </div>
      <div class="form-check">
          {{ form.remember(class="form-check-input") }}
          {{ form.remember.label(class="form-check-label") }}
      </div>

  </fieldset>
  <div class="form-group">
      {{ form.submit_login(class="btn btn-outline-info") }}
  </div>
  <small class="text-muted ml-2">
      <a href="#">Forgot Password?</a>
  </small>
      
      </form>
    </div>
    </div>
    </div>
    </div>
    
    {% endblock content %}
