{% extends "layout.html" %}

{% block content %}
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="/">Flask Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
            <a class="nav-item nav-link" href="{{ url_for('admin') }}">About</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if current_user.is_authenticated %}
              <a class="nav-item nav-link" href="{{ url_for('login') }}">Account</a>
              <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
              <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
              <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>

  {% if user %}
  {% for entry in user %}
 
  <div class="content-section row">
    <div class="media col-md-8 offset-md-2">
        <img class="rounded-circle account-img" src =  {{ url_for('static', filename='profile_pictures/' + entry.image_file ) }}>
        <div class="media-body">
            <h2 class="account-heading">{{ entry.name }}</h2>
            <p>web dev , ml enthusist</p>
            <button>View Profile</button>
        </div>
    </div>
  </div>

  {% endfor %}
  {% else %}
  <div class="row">
      <div class="col-md-8 offset-md-2">
        <p> We couldn't find a match for {{ name }}. </p>
        <p>Try double-checking your spelling.</p>
      </div>
  </div>
  
  {% endif %}


{% endblock %}