{% extends "layout.html" %}

{% block content %}
{{ option }}
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="/">Flask Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
            <a class="nav-item nav-link" href="{{ url_for('home') }}">About</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if current_user.is_authenticated %}
              <a class="nav-item nav-link" href="{{ url_for('profile') }}">Account</a>
              <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
              <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
              <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
            
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container  align-items-center">
      <div class="row">
        <div class="col-md-3" style="background-color: grey; height:400px;">
          Approved Company code. 
          Date
          Test link
          <br>
          Cannot be done Now.
        </div>
        <div class="col-md-9" style="background-color:lightcyan;">
          <div class="d-flex justify-content-center align-items-center" style="height:300px;" >
            <div>
            <form method="post" enctype="multipart/form-data">
              {{ form.hidden_tag() }}
          
            
              <div class="form-group">
                {{ form.file.label() }}
                {{ form.file(class="form-control-file") }}
                {% if form.file.errors %}
                    {% for error in form.file.errors %}
                    <span class="text-danger"> {{ error }}</span></br>
                    {% endfor %}
                {% endif %}
              </div>
              <input type="submit">
          </form>
          <div>
            <h4> Result of Resume Analysis</h4>
            <h5> Random Text</h5>
            <h5> Random Text</h5>
            <h5> Random Text</h5>
            <h5> Random Text</h5>
           </div>
           </div>
          
          </div>
        </div>
       
      </div>
      <div class="row" style="background-color: lightpink; height:200px">
        Prefereneces
        <br>
        Cannot be done now
      </div>
    </div>
  </main>
{% endblock %}
